<mat-card class="cus-container" *ngIf="nasaApod">
  <mat-card-header>
    <a mat-card-avatar class="cus-card-avatar" href="https://www.nasa.gov/"></a>
    <mat-card-title>{{nasaApod.title}}</mat-card-title>
    <mat-card-subtitle>Astronomy Picture of the Day: {{nasaApod.date | date: 'yyyy-MM-dd'}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="nasaApod.url">
  <mat-card-content>
    <p>{{nasaApod.explanation}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="button" (click)="alert()">LIKE</button>
    <button mat-button type="button" (click)="alert()">SHARE</button>
  </mat-card-actions>
</mat-card>
