<form class="example-form">
  <div class="container-fluid" style="margin-top: 30px">
    <div class="col">
      <!--    <h1 class="mat-h1">Pay Beneficiary</h1>-->
      <mat-card style="">
        <mat-card-header>
          <mat-card-title><h4>Payment</h4></mat-card-title>
          <mat-card-subtitle>Pay funds to beneficiary</mat-card-subtitle>
        </mat-card-header>
        &nbsp;
        <mat-card-content>
          <div class="col cus-container">
            <div class="row">
              <mat-form-field class="example-full-width">
                <input matInput type="text" required placeholder="Name">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="example-full-width">
                <mat-label>Bank</mat-label>
                <mat-select matNativeControl required>
                  <mat-option value="absa">ABSA</mat-option>
                  <mat-option value="fnb">First National Bank</mat-option>
                  <mat-option value="stdbank">Standard Bank</mat-option>
                  <mat-option value="capi">Capitec</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="example-full-width">
                <input matInput type="text" required placeholder="Branch">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="example-full-width">
                <input matInput type="text" required placeholder="Account Number">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="example-full-width">
                <mat-label>Select Account</mat-label>
                <mat-select matNativeControl required>
                  <mat-option value="curr">Current Account</mat-option>
                  <mat-option value="save">Savings Account</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="example-full-width">
                <input matInput type="text" required placeholder="Amount" prefix="R">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Beneficiary Reference">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="My Reference">
              </mat-form-field>
            </div>

          </div>

        </mat-card-content>
        <mat-card-footer>
          <div class="row">
            <div class="cus-container">
              <button mat-button (click)="back()">BACK</button>
              &nbsp;
              <button mat-flat-button (click)="pay()">PAY</button>
            </div>

          </div>

        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</form>

